
header {
    background-color: #333;
    padding-inline: 10px;
    padding-block: 16px;
    display:flex;
    align-items: center ;
    justify-content: space-between;
    color: white;

    h {
        padding: 100px;
    }

    nav {
        align-items: center ;
        width: 100%;
        display: flex;
        justify-content: space-between ;
        span  {
            &:hover {
                cursor: pointer;
                background-color: #777
            }
        }

        ul {
            list-style-type: none;

            li{
                list-style: none;
                &:hover {
                    cursor: pointer;
                    background-color: #555;
                }
            }
        }

    }
}

