h {
    padding: 100px;
}

header{
    background-color: #333;
    color: white;
    padding: 10px;
    display:flex;
    align-items: center ;
    justify-content: space-between;

}

nav {
    align-items: center ;
    

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

}
