## Exclude All Files
*

## Start adding files one by one
!.gitignore
!.gitattributes

## front-end Angular
!/front-end
!/front-end/src
!/front-end/src/**
!/front-end/.editorconfig
!/front-end/angular.json
!/front-end/public
!/front-end/public/**
!/front-end/src/app/
!/front-end/src/app/**
!/front-end/src/app/flickr-auth-redirect/
!/front-end/src/app/flickr-auth-redirect/**

## Service
!/service
!/service/src/
!/service/src/**


## Typescript
!**/tsconfig.app.json
!**/tsconfig.json
!**/tsconfig.spec.json

##gradle stuff
!**/build.gradle
!settings.gradle
!/gradle
!/gradle/**
!gradlew
!/gradlew.bat

## Node.js stuff
!**/package.json
!**/package-lock.json

##Documentation
!**/README.md
!**/HELP.md